.ListPage {  
	font-size: 2rem;
  display: flex;  
  margin: 0 auto; 
  padding: 20px;
  position: relative;
  
  .sld-to-left, .sld-to-right{
    position: fixed;
    right: 0;
    text-align: right;
    top: 50vh;
    color: #fff;
    font-size: 6rem;
    line-height: 0.4;
    cursor: pointer;
    padding: 20px;
    width: 10%;
    }
    .sld-to-left{
      left: 0;text-align: left;
    }
  }
  .NewList{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    &-title{
      font-size: 3rem;
    }
    &-input{
      background-color:  rgb(142, 181, 226);
      border-bottom: 1px solid gray;
      font-size: 4rem;
      text-align: center;
      margin: 80px 0 ;
    }
    &-btn{
      background-color: rgb(248, 184, 74);
      cursor: pointer;
      padding: 10px;
      font-size: 3rem;
      text-transform: uppercase;
    }
    &-x{
      align-self: flex-end;
      margin-right: 30px;
      font-size: 5rem;
      cursor: pointer;
    }

  }
  .ListItem {
    align-self: flex-start;
    width: 80%;
    background-color: #fff;
    padding: 30px;
    margin: 0 30px;

    &-head, &-footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-head{
      border-bottom: 2px black solid;
      margin-bottom: 10px;
      padding-bottom: 20px;
    }
    &-addWordBtn {
      background-color: brown;
      color: #fff;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 2rem;
      transition: all .4s;
      border: 2px #fff solid;
      &:hover{
        background-color: #fff;
        color: brown;
        border: 2px brown solid;
      }
    }
    &-edit-btns{
      display: flex;      
      cursor: pointer;
    }
    &-rename{
      font-style: italic;
      padding: 0.5rem 1.5rem;
      border-radius: 3rem;
      transition: all .5s;
      &:hover{
      background-color: rgba(195, 186, 20, 0.843);
      color: white;
    }
      
    }
    &-del{
      padding: 0.5rem 1.5rem;
      border-radius: 3rem;
      transition: all .5s;
        &:hover{
        background-color: rgba(195, 20, 20, 0.843);
        color: white;
        }
    }
    &-sep{
      width: 2px;
      background-color: rgb(0, 0, 0);
      margin: 0 1rem;
    }

    &-body{      /* 
      display: flex;
      justify-content: center; */
      padding: 0 5rem;

      &-cont{
        background-color: rgb(216, 76, 76);
      }

    }
  }  
  .New-List-btn {
    position: absolute;
    text-align: center;
    top: 20px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    justify-content: end;


    /* color: rgb(142, 181, 226); */
    border: 3px solid rgb(142, 181, 226);
    transition: all .3s;
        &:hover{
        background-color: rgb(142, 181, 226);
        color: white;
        border-color: #fff;
        }


  }
  


