.Header {
	background-color: darkblue;
	color: aliceblue;
		padding: 0 2vw;
		display: flex;
		justify-content: space-between;
		align-items: center;

	&-wrap{
			display: flex;
			align-items: center;
	}
	
	&-title{
		color: aliceblue;
		font-size: 4vh;
		line-height: 4vh;
		margin: 3vh 0;
	}
	&-logout{
		cursor: pointer;
		@media (max-width:1000px) {
			display: none;
		}		
	
		font-size: 1.5rem;	
		padding: 0.5rem 1rem;
		border-radius: 2rem;

		color: white;
    transition: all .3s;
        &:hover{
        background-color: white;
        color: rgb(70, 42, 173);
        }

	}
	.Burger{
		display: none;
		@media (max-width:1000px) {
			display: block;
		}
	}
}
