.Header {
	background-color: rgb(70, 42, 173);
	color: aliceblue;
		padding: 0 2vw;
		display: flex;
		justify-content: space-between;
		align-items: center;

	&-wrap{
			display: flex;
			align-items: center;
	}
	
	&-title{
		color: aliceblue;
		font-size: 4vh;
		line-height: 4vh;
		margin: 3vh 0;
	}
	&-user{
		display: flex;
		align-items: center;
	}
	&-ava {
		background-color: #fff;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		margin: 1vw;
	}
	.Burger{
		display: none;
		@media (max-width:1000px) {
			display: block;
		}
	}
}
