body {
	&.lock {
		overflow: hidden;
		padding-right: 18px;
		@media (max-width: 1000px) {
			padding-right: 0px;
		}
	}
}
.Home-wrapper {
	font: 20px/1.1 Arial, sans-serif;
	@media (max-width: 1000px) {
		font: 16px/1.1 Arial, sans-serif;
	}
	&.lock {
		overflow: hidden;
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
